<div class="row">
    <div class="col-md-12">
        <div class="record-toolbar">
            <div class="btn-group">
                <%= link_to I18n.t("actions.create"), {:controller => :repository_app_configs, :action => :new}, :class => "btn btn-primary btn-sm" %>
            </div>
        </div>
        <div class="record-pane">
            <h2><%= I18n.t("plugins.repository_app_configs.title") %></h2>
            <%= render_aspace_partial :partial => "shared/flash_messages" %>

            <% if @repository_app_configs.length > 0 %>
                <%= render_aspace_partial :partial => "listing", :locals => {:app_configs => @repository_app_configs} %>
            <% else %>
                <p class="alert alert-info"><%= I18n.t("plugins.repository_app_configs.empty") %></p>
            <% end %>
        </div>
    </div>
</div>