<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <%= form_tag url_for(controller: "system_status", action: "save"), method: "post", class: "form-horizontal" do %>
            <div class="record-toolbar">
                <div class="save-changes">
                    <%= submit_tag I18n.t("plugins.system_status.save"), class: "btn btn-primary btn-sm" %>
                </div>
            </div>
            <div class="record-pane">
                <section id="system-status">
                    <h3><%= I18n.t("plugins.system_status.title") %></h3>
                    <fieldset>
                        <div class="form-group">
                            <%= label_tag "sys_status[success_message]", I18n.t("plugins.system_status.success_message"), class: "col-md-2 control-label" %>
                            <div class="col-md-9">
                                <%= text_area_tag "sys_status[success_message]", @sys_status["success_message"], size: "30x5", class: "form-control", placeholder: "Success message" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= label_tag("sys_status[warning_message]", I18n.t("plugins.system_status.warning_message"), class: "col-md-2 control-label") %>
                            <div class="col-md-9">
                                <%= text_area_tag "sys_status[warning_message]", @sys_status["warning_message"], size: "30x5", class: "form-control", placeholder: "Warning message" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= label_tag("sys_status[error_message]", I18n.t("plugins.system_status.error_message"), class: "col-md-2 control-label") %>
                            <div class="col-md-9">
                                <%= text_area_tag "sys_status[error_message]", @sys_status["error_message"], size: "30x5", class: "form-control", placeholder: "Error message" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <%= label_tag("sys_status[info_message]", I18n.t("plugins.system_status.info_message"), class: "col-md-2 control-label") %>
                            <div class="col-md-9">
                                <%= text_area_tag "sys_status[info_message]", @sys_status["info_message"], size: "30x5", class: "form-control", placeholder: "Information message" %>
                            </div>
                        </div>
                    </fieldset>
                </section>
            </div>
        <% end %>
    </div>
</div>